<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456833513796-qqglss8e2tc0tmd4l9c5u8n72vdgve5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456833513796-qqglss8e2tc0tmd4l9c5u8n72vdgve5k</string>
	<key>API_KEY</key>
	<string>AIzaSyA8i9WJspERf9mBG7YAayP1nY4XTR2Rfgs</string>
	<key>GCM_SENDER_ID</key>
	<string>456833513796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twogoms.tgsmf-ios</string>
	<key>PROJECT_ID</key>
	<string>tgsfw-4762f</string>
	<key>STORAGE_BUCKET</key>
	<string>tgsfw-4762f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456833513796:ios:1cca19f4f80c1aef36bf11</string>
</dict>
</plist>